

.hidden {
    color:white;
    border: 2px solid black;
}

.tip {
    color:blue;
    font-weight: bold;
}
.beware {
    color:red;
    font-weight: bold;
}
.wy-nav-content {
max-width: 75% !important;
}
